body{
    background-color: #ededed;
}
.container{
    width: 1040px;
}
nav.navbar{
    font-size: 16px;
}
ul.nav>li{
    padding-left: 10px;
    padding-right: 10px;
}
ul.nav.navbar-right>li{
    padding-right: 5px;
    padding-left:5px;
}
#main{
    margin:30px auto;
    padding-top: 51px;
    width:1040px;
}
#personInfo,#personFunc{
    background-color: #ffffff;
}
#personInfo>div,#personFunc>div{
    display: inline-block;
    vertical-align: top;
}
#personInfo>div{
    padding: 40px;
}
#personInfoLeft{
    text-align: center;
    width:250px;
}
#personInfoRight{
    position: relative;
}
#personFunc>div{
    margin-top: 10px;
}
.leftAd,.rightAd{
    display: inline-block;
    height:330px;
}
.leftAd{
    /* padding-top: 10px;
     padding-left: 10px;*/
    float: right;
}
.leftAd img{
    width:300px;
    height:150px;
    margin-bottom: 30px;
}
.carousel-inner{
    height:330px;
    width:680px;
}
#personInfoRight>div,#personInfoMiddle>div{
    width:274px;
}
#personInfoMiddle>div>p:first-child,#personInfoRight>div>p:first-child {
    font-weight:bold;
    width:100px;
}
#personInfoMiddle>div p, #personInfoRight>div p{
    display: inline-block;
}
#personInfoMiddle>div,#personInfoRight>div{
    padding-top: 15px;
}
#login{
    display: none;
}
#preview, .img, #preview img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
#preview {
    border: 1px solid #3c763d;
    border-radius: 50px;
}
.pagination{
    float: right;
}
#file{
    display: none;
}
#filelLabel{
    display: inline-block;
    border:1px solid #3c763d;
    border-radius: 3px;
    cursor: pointer;
    padding:3px;
    margin-left: 15px;
    margin-top: 10px;
    width:68px;
}
label{
    width:100px;
}
#infoButtom{
    margin-left: 265px;
    margin-top: 30px;
}
#infoTop>div, #infoButtom>div{
    height:50px;
}
#infoButtom input, #infoTop input{
    border-radius: 5px;
    border: 1px solid #000000;
}
#group{
    margin-top: 50px;
}
#group>div{
    width:465px;
    height:302px;
}
/*#group>div{
    display: inline-block;
    height: 302px;
    width:465px;
}
#group>div>div:first-child{
    height:176px;
    background-color:#E2E6AC;
    position: relative;
}
#group>div>div:nth-child(2){
    background-color: #f8f8f8;
    height:100px;
}
#group>div>div:nth-child(2)>p{
    margin-left: 30px;
}*/
.groupTitle>div:first-child{
    height:26px;
    width:93px;
    position:relative;
    left: -10px;
    top:15px;
    background-color: #F4AB42;
}
.groupTitle{
    display: inline-block;
    vertical-align: top;
    width: 465px;
    height: 176px;
    border-radius: 5px;
    background-color: #e2e6ac;
    position: relative;
}
.groupInfo{
    background-color: #ffffff;
    height:126px;
    position: relative;
}
.groupInfo>div:first-child{
    display: inline-block;
    vertical-align: top;
    width:117px;
    margin-left: 42px;
    margin-top: 31px;
}
.groupInfo>div:nth-child(2){
    display: inline-block;
    vertical-align: top;
    width:257px;
    margin-top: 31px;
}
#upPart{
    /*min-height: 540px;*/
}
#upPart>div{
    display: inline-block;
    background-color: #ffffff;
    vertical-align: top;
}
#upPartLeft{
    width:777px;
    height:540px;
    margin-right: 19px;
}
#xiaozhu>div{
    display: inline-block;
    width:350px;
    height:200px;
    margin: 10px 9px;
    border-radius: 5px;
    border:1px solid gray;
}
#xiaozhu>div>div:nth-child(2){
    display: inline-block;
    height:200px;
    width:190px;
    vertical-align: top;
    margin-left: 4px;
}
#xiaozhu>div>div:first-child{
    display: inline-block;
    width:150px;
    height:150px;
    vertical-align: top;
    margin-top: 20px;
}
#xiaozhu>div img{
    width: 150px;
    height:150px;
}
#upPartRight{
    height:540px;
    width:240px;
}
#upPartLeft{
    padding-left: 18px;
    padding-right: 18px;
}
#downPart{
    margin-top: 22px;
    /*background-color: #ffffff;*/
    padding: 10px 18px;
}
#downPartLeft{
    display: inline-block;
    background-color: #ffffff;
    width:777px;
    margin-right: 19px;
}
#downPartRight{
    width:240px;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
}
#searchPart{
    background-color: #FFFFFF;
    padding-left: 32px;
    padding-top:30px;
}
.textOver{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.textOver:hover{
    overflow: visible;
}
.textOverNoHover{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
#contents img{
    max-width:740px;
    display: inline-block;
}
.bookItem{
    width: 332px;
    height: 193px;
    border-radius: 3px;
    background-color: #ffffff;
}
.bookItem img{
    width:150px;
    height:150px;
    padding-left: 4px;
    padding-right: 9px;
}
.bookItem div{
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
}
.bookItem div:first-child{
    border-right:1px solid #979797;
}
.bookItemRight{
    padding-left: 24px;
}
.bookTitle{
    font-weight: bold;
    width: 105px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.textOverNoDisplay{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/
}
.center{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.unionBtn{
    width:80px;
    height:30px;
    border-radius: 5px;
    background-color: #f4ab42;
    color:#FFFFFF;
    border: 1px solid #f4ab42;
}
