<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小组内部</title>
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/yefy.css" rel="stylesheet">
    <style>
        #groupInner{
            height:252px;
            position: relative;
        }
        #upPartLeft{
            height:314px;
        }
        #downPartLeft{
            position:relative;
            top:-225px;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="#" alt="一品书童有限责任公司">
            </div>
            <div class="nav narbar-nav">
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司介绍</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公司文化</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">公司介绍</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">人才招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="#">产品商城</a></li>
                    <li class="active"><a href="#">交流社区</a></li>
                    <li><a href="#">资源下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="logout">
                    <!--<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>-->
                    <li><a href="#">微信登陆</a></li>
                </ul>
                <ul class="nav navbar-var navbar-right" id="login">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img v-bind:src="userInfo.user_photo" style="width:30px;height:30px;border-radius: 15px;"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="upPart">
            <div id="upPartLeft">
                <h3 style="padding-left:18px;"><a href="./group.html"><小组导览</a></h3>              <!--abcdef-->
                <div id="groupInner">
                    <img v-bind:src="'./image/groupInner'+groupId+'.png'" style="width:777px;height:229px;margin-left: -19px;">
                    <p v-html="groupInfo.cf_module" style="position: absolute;top:47px;left:224px;font-size: 30px;"></p>
                    <p style="position: absolute;top:106px;left:226px;">组长：<span v-html="groupInfo.user_nickname" style="width:260px;display: inline-block;"></span> 话题数：<span v-html="groupInfo.cf_news"></span></p>
                    <p style="position: absolute;top:150px;left:226px;">小组介绍：</p>
                    <p v-html="groupInfo.cf_introduction" style="position: absolute;top:180px;left:226px;"></p>
                </div>
            </div>
            <div id="upPartRight">
                <form style="margin-left: 20px;margin-top:20px;">
                    <input style="width: 110px;height:28px;border:1px solid #979797;border-radius: 5px;" type="text" name="search" id="search"/>
                    <button v-on:click.prevent="gosearch()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;" >搜索</button>
                </form>
                <p style="border-left: 4px solid #957573 ; border-bottom: 1px dashed #979797;font-size: 20px;margin-left: 20px;margin-top:20px;margin-right: 30px;padding-left: 3px;">小组活跃用户</p>
                <div style="width:190px;margin-left: 20px;">
                    <div v-for="item in groupActiveUser" style="width:45px;display: inline-block;vertical-align: top;margin:12px 9px 0 9px;">
                        <img src="./image/1.jpg" alt="头像" style="width:45px;height:45px;border-radius: 22px;">                 <!--abcdef头像路径-->
                        <!--<p style="width:45px;" class="textOverNoHover">{{item.user_nickname}}</p>-->
                    </div>
                </div>
                <!--<button v-on:click.prevent="checkIn()" v-bind:disabled="checkStatus" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left:140px;margin-top:10px;"> 签到</button>-->
            </div>
        </div>
        <div id="downPart" style="padding:0px 0px;">
            <div id="downPartLeft">
                <div>
                    <ul id="myTab" class="nav nav-pills">
                        <li class="active"><a href="#hot" data-toggle="tab">热帖</a></li>
                        <li><a href="#latest" data-toggle="tab">最新</a></li>
                        <li><a href="#resource" data-toggle="tab">资源</a></li>
                        <li style="float: right;"><button v-on:click="goToPosting()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left:140px;margin-top:8px;">发帖</button></li>
                    </ul>
                </div>
                <div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade in active" id="hot">
                            <hotnews></hotnews>
                        </div>
                        <div class="tab-pane fade" id="latest">
                            <latestnews></latestnews>
                        </div>
                        <div class="tab-pane fade" id="resource">
                            <resource></resource>
                        </div>
                    </div>
                </div>
            </div>
            <div id="downPartRight" style="padding-left:20px;padding-right:20px;">
                <div style="border-bottom: 1px dashed #979797;">
                    <p style="border-left:4px solid #957573;margin-top: 5px; font-size:20px;" >每日排行</p>
                </div>
                <div v-for="item in recommend">
                    <p class="textOver" style="width:200px;"><a v-bind:href="'http://localhost:3000/tiezi.html?id='+item.news_id">{{item.news_title}}</a></p>
                    <p><span>{{item.news_createtime}}</span><span style="float: right;">{{item.news_liketimes}}</span><span style="float: right;" class="glyphicon glyphicon-thumbs-up"></span></p>
                </div>
                <div style="border-bottom: 1px dashed #979797;">
                    <p style="border-left:4px solid #957573;margin-top: 5px; font-size:20px;" >编辑推荐</p>
                </div>
                <div v-for="item in editorRecommend">
                    <p class="textOver" style="width:200px;"><a v-bind:href="'http://localhost:3000/tiezi.html?id='+item.news_id">{{item.news_title}}</a></p>
                    <p><span>{{item.news_createtime}}</span><span style="float: right;">{{item.news_liketimes}}</span><span style="float: right;" class="glyphicon glyphicon-thumbs-up"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-template" id="hotNews">
    <div style="margin:5px 15px;">
        <div style="padding-bottom: 50px;">
            <div v-for="item in news" style="border-bottom: 1px solid #000;">
                <div style="display: inline-block;width:60px;height:60px;vertical-align: top;">
                    <img v-bind:src="item.user_photo" alt="头像" style="width: 60px;height:60px;border: 1px solid #ffffff;border-radius: 30px;">
                </div>
                <div style="display: inline-block;width: 680px;vertical-align: top;">
                    <div class="time" style="float: right;color:grey;">{{item.news_createtime}}</div>
                    <div class="title textOver" style="font-weight: bold;"><a v-bind:href="'http://localhost:3000/tiezi.html?id='+item.news_id"><span v-show="item.news_isgreat>0">【精华】</span>{{item.news_title}}</a></div>
                    <div>
                        <p style="display: inline-block;"><span>作者：{{item.user_nickname}}</span>&nbsp&nbsp<span>最新回帖：{{item.news_lastcomment}}</span></p>
                        <p style="display: inline-block;float:right;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp<span>{{item.news_readtimes}}</span>&nbsp&nbsp<span class="glyphicon glyphicon-list-alt"></span>&nbsp<span>{{item.news_comments}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination" v-show="allpage>1">
            <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
        </ul>
    </div>
</script>
<script type="text/x-template" id="latestNews">
    <div style="margin:5px 15px;">
        <div style="padding-bottom: 50px;">
            <div v-for="item in collections" style="border-bottom: 1px solid #000;">
                <div style="display: inline-block;width:60px;height:60px;vertical-align: top;">
                    <img v-bind:src="item.user_photo" alt="头像" style="width: 60px;height:60px;border: 1px solid #ffffff;border-radius: 30px;">
                </div>
                <div style="display: inline-block;width: 680px;vertical-align: top;">
                    <div class="time" style="float: right;color:grey;">{{item.news_createtime}}</div>
                    <div class="title textOver" style="font-weight: bold;"><a v-bind:href="'http://localhost:3000/tiezi.html?id='+item.news_id"><span v-show="item.news_isgreat>0">【精华】</span>{{item.news_title}}</a></div>
                    <div>
                        <p style="display: inline-block;"><span>作者：{{item.user_nickname}}</span>&nbsp&nbsp<span>最新回帖：{{item.news_lastcomment}}</span></p>
                        <p style="display: inline-block;float:right;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp<span>{{item.news_readtimes}}</span>&nbsp&nbsp<span class="glyphicon glyphicon-list-alt"></span>&nbsp<span>{{item.news_comments}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination" v-show="allpage>1" >
            <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#">下一页</a></li>
        </ul>
    </div>
</script>

<script type="text/x-template" id="resourcePart">
    <div style="margin:5px 15px;">
        <div style="padding-bottom: 50px;">
            <div v-for="item in resources" style="border-bottom: 1px solid #000;">
                <div style="display: inline-block;width:60px;height:60px;vertical-align: top;">
                    <img v-bind:src="item.user_photo" alt="头像" style="width: 60px;height:60px;border: 1px solid #ffffff;border-radius: 30px;">
                </div>
                <div style="display: inline-block;width: 680px;vertical-align: top;">
                    <div class="time" style="float: right;color:grey;">{{item.news_createtime}}</div>
                    <div class="title textOver" style="font-weight: bold;"><a v-bind:href="'http://localhost:3000/tiezi.html?id='+item.news_id"><span v-show="item.news_isgreat>0">【精华】</span>{{item.news_title}}</a></div>
                    <div>
                        <p style="display: inline-block;"><span>作者：{{item.user_nickname}}</span>&nbsp&nbsp<span>最新回帖：{{item.news_lastcomment}}</span></p>
                        <p style="display: inline-block;float:right;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp<span>{{item.news_readtimes}}</span>&nbsp&nbsp<span class="glyphicon glyphicon-list-alt"></span>&nbsp<span>{{item.news_comments}}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="pagination" v-show="allpage>1" >
            <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#">下一页</a></li>
        </ul>
    </div>
</script>
<script src="./js/jquery-3.1.1.js"></script>
<script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script type="text/javascript">
    $(function(){
        var login = false;      //login获取登录状态后标记的变量   需要后端改
        login = true;
        if(login){
            $("#login").css("display","block");
            $("#logout").css("display", "none");
        }
        var userInfo = {            //userInfo是存储用户信息的变量    需要后端改
            "user_id": "7",
            "user_accounts": "Bob",
            "user_nickname": "Jack",
            "user_email": "123@qq.com",
            "user_sex": "男",
            "user_tel": "15996362164",
            "user_age": "35",
            "user_photo": "image/1.jpg",
            "user_address": "江苏省南京市",
            "user_points": "0",
            "user_sign":"nihaoaho"
        };
        var groupId = parseInt(window.location.search.split("=")[1])+"";      //存储小组id的
        Vue.component("hotnews",{              //热帖组件
            template:"#hotNews",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    news:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                      //post地址，需要后端改
                var that = this;
                console.log(groupId,"haha");
                var postData = JSON.stringify(["0",groupId,userInfo.user_id,"1","0"]);  //阅读最多
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsByOthers.php",
                    data: "check=10086&data="+postData,
                    success: function (data) {
                        that.news = JSON.parse(data);
                        console.log(that.news,"yefy");
                    }
                });
                var postData1 = JSON.stringify(["0",groupId,userInfo.user_id,"0"]);   //阅读最多
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsTotalPageByOthers.php",
                    data: "check=10086&data="+postData1,
                    success: function (data) {
                        that.allpage = data-0;
                    }
                });
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    var data = ["0",groupId,userInfo.user_id,index,"0"];          //阅读最多
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                 //post地址 需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readNewsByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.news = JSON.parse(data);
                            for(a in that.news){
                                console.log(typeof that.news[a].news_content);
                                that.news[a].news_content = that.news[a].news_content.replace(/<.*?>/ig,"");
                            }
                        }
                    });
                }
            }
        });

        Vue.component("latestnews",{
            template:"#latestNews",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    collections:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                         //post地址    需要后端改
                var that = this;
                var data = ["0",groupId,userInfo.user_id,"1","3"];       //最近发帖
                data = JSON.stringify(data);
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsByOthers.php",
                    data: "check=10086&data="+data,
                    success: function (data) {
                        that.collections = JSON.parse(data);
                        console.log(that.collections);
                    }
                });
                var pageData = ["0",groupId,userInfo.user_id,"3"];
                pageData = JSON.stringify(pageData);
                $.ajax({
                    type:"POST",
                    url:contextPath + "/myapp/news/readNewsByOthers.php",
                    data:"check=10086&data="+pageData,
                    success:function(data){
                        that.allpage=data-0;
                    }

                })
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index+'';
                    var data = ["0",groupId,userInfo.user_id,index,"3"];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                         //post地址   需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readNewsByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.collections = JSON.parse(data);
                        }
                    });
                }
            }
        });

        Vue.component("resource",{
            props:['userInfo'],
            template:"#resourcePart",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    resources:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                                    // post地址   需要后端改
                var that = this;
                var data = ["3",groupId,"2","1","0","4"];
                data = JSON.stringify(data);
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readResourceByOthers.php",
                    data: "check=10086&data="+data,
                    success: function (data) {
                        that.resources = JSON.parse(data);
                        console.log(that.resources);
                    }
                });
                var pageData = ["3","1","2","4"];
                pageData = JSON.stringify(pageData);
                $.ajax({
                    type:"POST",
                    url:contextPath+"/myapp/news/readResourcePageByOthers.php",
                    data:"check=10086&data="+pageData,
                    success:function(data){
                        that.allpage = data-0;
                    }
                })
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index+'';
                    var data = ["3",groupId,"2",index,"0","4"];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';              // post地址   需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readResourceByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.resources = JSON.parse(data);
                        }
                    });
                }
            }
        });
        var vm = new Vue({
            el: "#app",
            data: {
                checkStatus:false,
                userInfo:userInfo,
                recommend:[],
                editorRecommend:[],
                groupId:groupId,
                groupInfo:{},
                groupActiveUser:[]
            },
            created: function () {
                var that = this;
                $.ajax({                                                                         //今日排行
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/getTodayNewsByLike.php",
                    data: "",
                    success: function (data) {
                        that.recommend = JSON.parse(data);
                        console.log(JSON.parse(data),"nihao");
                    }
                });
                $.ajax({                                                             //签到状态
                    type:"POST",
                    url: "http://localhost:3000/myapp/conn/userCheckInState.php",
                    data: "check=10086&data="+JSON.stringify([that.userInfo.user_id]),
                    success: function (data) {
                        var status = data - 0;
                        if(status == 1){
                            that.checkStatus = true;
                        }
                    }
                });
                $.post({                                          //活跃用户
                    url:"http://localhost:3000/myapp/news/getActiveUserClass.php",          //abcdef地址修改
                    data:"check=10086&data="+JSON.stringify([that.groupId]),
                    success: function (data) {
                        that.groupActiveUser = JSON.parse(data);
                        console.log(that.groupActiveUser,"user");
                    }
                });
                $.post({                                          //编辑推荐
                    url: "http://localhost:3000/myapp/news/newsEditorReco.php",       //abcdef地址修改
                    data:"check=10086",
                    success:function(data){
                        that.editorRecommend = JSON.parse(data);
                        console.log(that.editorRecommend,'hehe');
                    }
                });
                $.post({                          //获取小组信息
                    url:"http://localhost:3000/myapp/conn/getClassInfomation.php",             //abcdef地址修改
                    data:"check=10086&data="+JSON.stringify(["1","1",that.groupId]),
                    success: function (data) {
                        that.groupInfo = JSON.parse(data)[0];
                        console.log(that.groupInfo);

                    }
                })
            },
            methods:{
                gosearch: function () {
                    var keyword = $("#search").val().trim();
                    console.log("1");
                    if(keyword ==""){
                        alert("搜索内容为空！");
                    }
                    window.location.href = "./search.html?search="+keyword;
                },
                goToPosting: function () {
                    window.location.href = "./posting.html";

                }
            }
        });
    });
</script>
</body>
</html>