<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/yefy.css" rel="stylesheet">
    <style>
        a.center:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="#" alt="一品书童有限责任公司">
            </div>
            <div class="nav narbar-nav">
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司介绍</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公司文化</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">公司介绍</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">人才招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="#">产品商城</a></li>
                    <li class="active"><a href="#">交流社区</a></li>
                    <li><a href="#">资源下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="logout">
                    <!--<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>-->
                    <li><a href="#">微信登陆</a></li>
                </ul>
                <ul class="nav navbar-var navbar-right" id="login">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img v-bind:src="userInfo.user_photo" style="width:30px;height:30px;border-radius: 15px;"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="upPart">
            <div id="upPartLeft" style="min-height:540px;height:auto;width:777px;padding-bottom: 20px;position:relative;">
                <h3 class="textOverNoDisplay" v-html="newsInfo.news_title" >无标题</h3>
                <p>{{newsInfo.user_nickname}}</p>
                <div><span v-html="newsInfo.news_createtime">2017-10-30 16:35</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>收藏</span><span v-html="newsInfo.news_collect"></span>&nbsp; <span>评论</span><span>{{newsInfo.news_comments}}</span> <span style="float: right;" v-html="newsInfo.cf_module"></span></div>
                <div id="contents" style="margin-top:40px;">
                    <!--帖子内容-->
                </div>
                <p style="color: #BBBBBB;">*文章为作者独立观点，不代表本网站立场</p>
                <div style="text-align: center">
                    <button id="likeIt" v-on:click.prevent="likeIt()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;"><span v-if="likeState" class="glyphicon glyphicon-thumbs-up"></span><span v-else="!likeState" class="glyphicon glyphicon-thumbs-down"></span>{{newsInfo.news_liketimes}}</button>
                </div>
                <!--<div id="qrcode"></div>-->
                <div class="center" v-on:click.prevent="shareToSinaWB()" style="position: absolute;width:60px;height:60px;background-color: #d8d8d8;left:-60px;top:198px;color:#ffffff;cursor: pointer;"><p style="vertical-align: middle;">微博</p></div>
                <div class="center" v-on:click.prevent="shareToQzone()" style="position:absolute;width:60px;height:60px;background-color: #d8d8d8;left:-60px;top:261px;color:#ffffff;cursor:pointer;"><p style="vertical-align: middle;">空间</p></div>
                <div class="center" v-on:click.prevent="collectIt()" style="position:absolute;width:60px;height:60px;background-color: #d8d8d8;left:-60px;top:324px;color:#ffffff;cursor:pointer;"><p v-if="collectState" style="vertical-align: middle;">取消收藏</p><p v-else="!collectState" style="vertical-align: middle;">收藏</p></div>
                <a href="#downPart" class="center"  style="display:block;position:absolute;width:60px;height:60px;background-color: #d8d8d8;left:-60px;top:387px;color:#ffffff;cursor:pointer;"><p style="vertical-align: middle;text-align: center;margin-top: 15px;">评论</p></a>
            </div>
            <div id="upPartRight">
                <form style="margin-left: 20px;margin-top:20px;">
                    <input style="width: 110px;height:28px;border:1px solid #979797;border-radius: 5px;" type="text" name="search" id="search"/>
                    <button v-on:click.prevent="gosearch()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;" >搜索</button>
                </form>
                <p style="border-left: 4px solid #957573 ; border-bottom: 1px dashed #979797;font-size: 20px;margin-left: 20px;margin-top:20px;margin-right: 30px;padding-left: 3px;">小组活跃用户</p>
                <div style="border: 1px solid gray; border-radius: 5px;width:190px;height:127px;margin-left: 20px;">
                    <p>每日签到送3朵鲜花</p>
                </div>
                <button class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left:140px;margin-top:10px;"> 签到</button>
            </div>
        </div>
        <div id="downPart" style="width:777px;background-color: #ffffff;">
            <div style="padding-bottom: 50px;">
                <h3>说点什么</h3>
                <form>
                    <div v-show="!login" style="width:717px;height:200px;padding:2px;border:1px solid #A9A9A9;display:table-cell;vertical-align: middle;text-align:center;font-size: 20px; ">请登录</div>
                    <textarea v-show="login" name="comments" id="comments" cols="100" rows="10"></textarea>
                    <button v-on:click.prevent="saySomething()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-top:10px;">发表</button>
                </form>
                <h3>热门评论</h3>
                <div>
                    <div v-for="item in comments" style="border-bottom: 1px solid grey;margin-top:10px;">
                        <p style="float:right;"><span class="glyphicon glyphicon-thumbs-up"></span>{{item.infomation.com_like}}</p>
                        <p><img v-bind:src="item.user_photo" style="width:50px;height:50px; border-radius: 25px;">&nbsp&nbsp<span>{{item.infomation.user_nickname}}</span></p>
                        <p>{{item.infomation.com_content}}</p>
                        <div style="background-color: #BBBBBB;">
                            <div v-for="answer in item.comcom">
                                <p><b>{{answer.user_nickname}}:</b>&nbsp;&nbsp;{{answer.comc_content}}</p>
                                <p style="text-align: right;"><span>{{answer.comc_createtime}}</span>&nbsp;&nbsp;<button v-on:click="showBoxWithName(answer.user_nickname,answer.user_id)">回复TA</button></p>
                            </div>
                        </div>
                        <div><p style="cursor:pointer;display: inline-block;width:50px;" v-on:click="showBox(item.infomation.com_user)"><span class="glyphicon glyphicon-edit"></span>回复</p><button v-show="userInfo.user_id==item.infomation.user_id" v-on:click.prevent="deleteComment(item.infomation.com_id)" style="float:right;">删除</button></div>
                        <form method="post" style="display: none;" ref="answerBox">
                            <textarea rows="2" cols="100" value="" answerWho="" name="comments"></textarea>
                            <button v-on:click.prevent="answerComment(item.infomation.com_id,item.infomation.com_user)"  class="btn btn-default" style="margin-bottom: 25px;">确定</button>
                        </form>
                    </div>
                    <ul class="pagination" v-show="allpage>1">
                        <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
                        <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#" >{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/jquery-3.1.1.js"></script>
<script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./plugins/jquery-qrcode-master/jquery.qrcode.min.js" type="application/javascript"></script>
<script type="application/javascript">
    $(function(){
        var login = false;      //login获取登录状态后标记的变量   需要后端改
        login = true;
        if(login){
            $("#login").css("display","block");
            $("#logout").css("display", "none");
        }
        var userInfo = {            //userInfo是存储用户信息的变量    需要后端改
            user_id: "7",
            user_accounts: "Bob",
            user_nickname: "Jack",
            user_email: "123@qq.com",
            user_sex: "男",
            user_tel: "15996362164",
            user_age: "35",
            user_photo: "image/1.jpg",
            user_address: "江苏省南京市",
            user_points: "0",
            user_sign:"nihaoaho"
        };
        var newsInfo = {};

        var search = window.location.search;
        if(search != ""){
            var arr = search.split("=");
            var id = parseInt(arr[1]);
            if(id != ""){
                console.log(id);
                $.ajax({
                    type:"post",
                    async:false,
                    url: 'http://localhost:3000/myapp/news/readNewsById.php',
                    data: "check=10086&data="+JSON.stringify([id]),
                    success: function (data) {
                        console.log("read success!");
                        newsInfo = JSON.parse(data)[0];
                        console.log(newsInfo);
//                        newsInfo.news_content = newsInfo.news_content.replace(/<.*?>/ig,"");
                        document.getElementById("contents").innerHTML += newsInfo.news_content;
                    }
                });
            }
        }
        var _title="一品书童",_source,_sourceUrl,_showcount,_desc,_summary,_site,
                _width = 600,
                _height = 600,
                _top =(screen.height-_height)/2,
                _left =(screen.width-_width)/2,
                _url = window.location;

        var vm = new Vue({
            el: "#app",
            data: {
                login:login,     //判断登录 需要后端改
                userInfo:userInfo,        //判断登录 需要后端改
                newsInfo:newsInfo,
                current:1,
                showItem:20,
                allpage:1,
                comments:[],
                collectState: false,
                likeState:false
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created: function () {
                var data = JSON.stringify([newsInfo.news_id, "1"]);
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/myapp/news/newsCommentsRead.php",           //abcdef地址修改
                    data: "check=10086&data=" + data,
                    success: function (data) {
                        that.comments = JSON.parse(data);
                        console.log(that.comments, "hahha");
                    }
                });
                $.ajax({
                    type:"POST",
                    url:"http://localhost:3000/myapp/news/newsCommentsReadPage.php",               //abcdef地址修改
                    data: "check=10086&data="+  JSON.stringify([newsInfo.news_id]),
                    success:function(data){
                        that.allpage = data-0;
                    }
                });
                $.post({                                                                                 //获取收藏状态
                    url:"http://localhost:3000/myapp/news/getNewsCollectState.php",               //abcdef地址修改
                    data:"check=10086&data="+JSON.stringify([that.userInfo.user_id,that.newsInfo.news_id]),
                    success: function (data) {
                        if(data == "1"){
                            that.collectState = true;
                        }
                    }
                });
                $.post({                                                                             //获取点赞状态
                    url:"http://localhost:3000/myapp/news/getNewFavorState.php",               //abcdef地址修改
                    data:"check=10086&data="+JSON.stringify([that.userInfo.user_id,that.newsInfo.news_id]),
                    success: function (data) {
                        if(data == "1"){
                            that.liketState = true;
                        }
                    }
                });

            },
            methods:{
                saySomething: function () {
                    var contents = $("#comments").val().trim();
                    if(contents==""){
                        alert("评论内容不能为空！");
                    }
                    var that = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/newsCommentSaved.php',
                        data: "check=10086&data="+JSON.stringify([that.newsInfo.news_id,that.userInfo.user_id,encodeURIComponent(contents)]),
                        success: function (data) {
                            if(data == "success"){
                                $("#comments").val("");
                                console.log("success");
                                that.gotoWhatever(that.allpage);
                            }
                        }
                    });
                },
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index + "";
                    var data = [newsInfo.news_id,index];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                 //post地址 需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/newsCommentsRead.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.comments = JSON.parse(data);
                        }
                    });
                },
                gotoWhatever:function(index){
                    this.current = index;
                    index = index + "";
                    var data = [newsInfo.news_id,index];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:3000/myapp/news/newsCommentsRead.php",                 //abcdef post地址 需要后端改
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.comments = JSON.parse(data);
                        }
                    });
                },
                showBox: function (answerWho){

                    console.log(event.target.parentNode.nextSibling.nextSibling);
                    var form = event.target.parentNode.nextSibling.nextSibling;
                    form.firstChild.value = "";
                    form.firstChild.answerWho = answerWho;
                    if(form.style.display == "block"){
                        form.style.display = "none";
                    }else{
                        form.style.display = "block";
                    }
                },
                answerComment: function (comId,comUser) {
                    console.log(event.target.previousSibling.previousSibling.value,event.target.previousSibling.previousSibling.answerWho,comId,comUser);
                    event.target.previousSibling.previousSibling.parentNode.style.display = "none";
                    console.log(event.target.previousSibling.previousSibling.parentNode.style.display);
                    var contents = encodeURIComponent(event.target.previousSibling.previousSibling.value);
                    var that = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/createCommentsCom.php',                                     //abcdef地址修改
                        data: "check=10086&data="+JSON.stringify([contents,comId,that.userInfo.user_id,that.newsInfo.news_user,that.newsInfo.news_id,comUser,event.target.previousSibling.previousSibling.answerWho]),
                        success: function (data) {
                          if(data == "1"){
                              that.gotoWhatever(that.current);
                          }
                        }
                    });


                },
                gosearch: function () {
                    var keyword = $("#search").val().trim();
                    console.log("1");
                    if(keyword ==""){
                        alert("搜索内容为空！");
                    }
                    window.location.href = "./search.html?search="+keyword;
                },
                showBoxWithName:function(nickname,answerWho){
                    console.log(event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild);
                    event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild.value = "回复" + nickname +":";
                    event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild.answerWho = answerWho;
                    if(event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display == "block"){
                        event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display = "none";
                    }else{
                        event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display = "block";
                    }
                },
                likeIt:function(){
                    var that = this;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:3000/myapp/news/changeFavorStateNews.php",                   //abcdef地址修改
                        data:"check=10086&data="+JSON.stringify([that.newsInfo.news_id,that.userInfo.user_id,that.newsInfo.user_id]),
                        success:function(data){
                            if(data=="success"){
                                that.likeState = !that.likeState;
                                if(that.likeState){
                                    that.newsInfo.news_liketimes = parseInt(that.newsInfo.news_liketimes)-1+"";
                                }else{
                                    that.newsInfo.news_liketimes = parseInt(that.newsInfo.news_liketimes)+1+"";

                                }
                            }
                        }
                    })
                },
                collectIt:function(){
                    var that = this;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:3000/myapp/news/changeCollectState.php",                     //abcdef地址修改
                        data:"check=10086&data="+JSON.stringify([that.newsInfo.news_id,that.userInfo.user_id]),
                        success:function(data){
                            if(data=="1"){
                                that.collectState = !that.collectState;
                                if(that.collectState){
                                    alert("收藏成功！");
                                }else{
                                    alert("取消成功！");
                                }
                            }
                        }
                    })
                },
                shareToSinaWB: function () {
                    var _shareUrl ='http://v.t.sina.com.cn/share/share.php?&appkey=895033136';    //真实的appkey，必选参数
                    _shareUrl +='&url='+ encodeURIComponent(document.location);     //参数url设置分享的内容链接|默认当前页location，可选参数
                    _shareUrl +='&title=' + encodeURIComponent(_title||document.title);    //参数title设置分享的标题|默认当前页标题，可选参数
                    _shareUrl +='&source=' + encodeURIComponent(_source||'');
                    _shareUrl +='&sourceUrl=' + encodeURIComponent(_sourceUrl||'');
                    _shareUrl +='&content=' + 'utf-8';   //参数content设置页面编码gb2312|utf-8，可选参数
                    _shareUrl += '&pic='+ encodeURIComponent('');  //参数pic设置图片链接|默认为空，可选参数
                    window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',top='+_top+',left='+_left+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0');

                },
                shareToQzone: function () {
                    var _shareUrl ='http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?';
                    _shareUrl += 'url=' +encodeURIComponent("http://www.baidu.com?id=9");   //参数url设置分享的内容链接|默认当前页location
                    _shareUrl +='&showcount=' + _showcount||0;      //参数showcount是否显示分享总数,显示：'1'，不显示：'0'，默认不显示
                    _shareUrl +='&desc=' + encodeURIComponent('分享的描述');   //参数desc设置分享的描述，可选参数
                    _shareUrl +='&summary=' + encodeURIComponent('分享摘要');   //参数summary设置分享摘要，可选参数
                    _shareUrl +='&title=' + encodeURIComponent("一品书童");    //参数title设置分享标题，可选参数
                    /*_shareUrl +='&site=' + encodeURIComponent(_site||'');   //参数site设置分享来源，可选参数
                    _shareUrl += '&pics='+ encodeURIComponent(_pic||'');   //参数pics设置分享图片的路径，多张图片以＂|＂隔开，可选参数*/
                    window.open(_shareUrl,'_blank','width='+_width+',height='+_height+',top='+_top+',left='+_left+',toolbar=no,menubar=no,scrollbars=no,resizable=1,location=no,status=0');

                },
                deleteComment:function(com_id){
                    console.log('ajf');
                    console.log(com_id,this.newsInfo.news_id);
                    var that = this;
                    $.post({
                        url:"http://localhost:3000/myapp/news/deleteCommentsById.php",
                        data:"check=10086&data="+JSON.stringify([com_id,that.newsInfo.news_id]),
                        success: function (data) {
                            if(data=="success"){
                                console.log("delete success");
                                that.gotoWhatever(that.current);
                            }

                        }
                    })
                }
            }
        });
        $("#qrcode").qrcode({
            text: "http://www.baidu.com", //设置二维码内容
            render : "canvas",//设置渲染方式
            width: 256,     //设置宽度,默认生成的二维码大小是 256×256
            height : 256,     //设置高度
            typeNumber : -1,      //计算模式
//            correctLevel : QRErrorCorrectLevel.H,//纠错等级
            background : "#ffffff",//背景颜色
            foreground : "#000000" //前景颜色
        });
    });

</script>
</body>
</html>