<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资源下载</title>
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/yefy.css" rel="stylesheet">
    <style>
        #upPartLeft{
            height:auto;
            padding-bottom: 20px;
        }
        #leftPart,#rightPart{
            display: inline-block;
            vertical-align: top;
        }
        #leftPart{
            width:777px;
            /*margin-right:19px;*/
        }
        #leftPart>div{
            background-color: #FFFFFF;
        }
        #rightPart{
            width:240px;
            position: relative;
            left:19px;
        }
        #upPartRight{
            left:0;
        }
        #rightPart>div{
            background-color: #FFFFFF;
        }
        #videoResource>div,#bookResource>div,#musicResource>div{
            display: inline-block;
            vertical-align: top;
            width:331px;
            margin: 10px 20px 0 20px;
            border-bottom:1px solid #979797;
        }
        #videoResource>p:last-child,#bookResource>p:last-child,#musicResource>p:last-child,#videoRecommend>p,#bookRecommend>p,#musicRecommend>p{
            text-align: center;
            margin:10px;
            padding:10px;
        }
        #videoResource>p:first-child,#bookResource>p:first-child,#musicResource>p:first-child{
           color:#333333;
            font-size: 20px;
            border-bottom:1px solid #979797;
            margin-left: 11px;
            margin-right: 17px;
            font-weight: bold;
        }
        button.btn.btn-default{
            background-color: #ffffff;
            color:#F4AB42;
            width:90px;
        }
        #videoRecommend>div,#bookRecommend>div,#musicRecommend>div{
            width:157px;
            height:255px;
            display: inline-block;
            vertical-align: top;
            margin-left:25px;
            margin-top:20px;
        }
        #videoRecommend>div img,#bookRecommend>div img,#musicRecommend>div img{
            width:157px;
            height:198px;
        }
        #videoRecommend>div>p>span,#bookRecommend>div>p>span,#musicRecommend>div>p>span{
            display: inline-block;
            vertical-align: top;
            color:#999999;
            font-size: 11px;
        }
        #leftPart>div{
            margin-bottom:30px;
            padding-top: 15px;
        }
        #rightPart>div{
            margin-bottom: 30px;
        }
        #rightPart>div:last-child{
            padding-top: 20px;
        }
        .nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
            color: #333333;
            font-size: 20px;
            background-color: #ffffff;
            border-bottom: 4px solid #957573;
            border-radius: 0;
        }
        .nav-pills>li>a,.nav-pills>li>a:hover,.nav-pills>li>a:focus{
            color: #6b6b6b;
            font-size: 18px;
            background-color: #ffffff;
            /*border-right: 1px solid #797979;*/
            /*border-radius: 0;*/
        }
        #myTab{
            border-bottom: 1px solid #979797;
            margin-left: 11px;
            margin-right: 17px;
        }
        a{
            color:#333333;
        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="#" alt="一品书童有限责任公司">
            </div>
            <div class="nav narbar-nav">
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司介绍</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公司文化</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">公司介绍</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">人才招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="#">产品商城</a></li>
                    <li class="active"><a href="#">交流社区</a></li>
                    <li><a href="#">资源下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="logout">
                    <!--<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>-->
                    <li><a href="#">微信登陆</a></li>
                </ul>
                <ul class="nav navbar-var navbar-right" id="login">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img v-bind:src="userInfo.user_photo" style="width:30px;height:30px;border-radius: 15px;"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="leftPart">
            <div id="cover">
                <h3 style="border-bottom: 1px solid #979797;margin-left:15px;margin-right:20px;margin-top: 10px;"><span style="border-bottom: 4px solid #979797;position: relative;top:-4px;">精彩导览</span></h3>
                <div style="margin-left: 13px;padding-bottom: 15px;">
                    <div style="width:533px;height:316px;display: inline-block;vertical-align: top;margin-right:13px;">
                        <!--<a v-bind:href="'./post.html?id='+photoResource[0].news_id"><img style="width:533px;height:316px;" v-bind:src="photoResource[0].news_cover" alt="图一"></a>-->
                        <img src="./image/resource1.png" alt="" style="width:533px;height:316px;">
                    </div>
                    <div style="width:191px;height:316px;display: inline-block;vertical-align: top;">
                        <img src="./image/resource2.png" alt="" style="width:190px;height:150px;margin-bottom:16px; ">
                        <img src="./image/resource2.png" alt="" style="width:190px;height:150px;">
                        <!--<a v-bind:href="'./post.html?id='+photo2Resource[0].news_id"><img style="width:190px;height:150px;margin-bottom:16px; " v-bind:src="photo2Resource[0].news_cover" alt="图一"></a>-->
                        <!--<a v-bind:href="'./post.html?id='+photo2Resource[1].news_id"><img style="width:190px;height:150px;" v-bind:src="photo2Resource[1].news_cover" alt="图一"></a>-->
                    </div>
                </div>
            </div>
            <div id="resourcePart">
                <div>
                    <ul id="myTab" class="nav nav-pills">
                        <li class="active"><a href="#videoRecommend" data-toggle="tab">视频</a></li>
                        <li><a href="#bookRecommend" data-toggle="tab">图书</a></li>
                        <li><a href="#musicRecommend" data-toggle="tab">音频</a></li>
                    </ul>
                </div>
                <div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade in active" id="videoRecommend">
                            <div v-for="item in recommendVideo">
                                <a v-bind:href="'./post.html?id='+item.news_id"><img v-bind:src="item.news_cover" alt="封面"></a>
                                <p class="textOverNoHover" style="font-size: 15px;color:#F4AB42;text-align: center;" v-text="item.news_title">无书名</p>
                                <p><span style="width:77px;color:#999999;font-size: 11px;" class="textOverNoHover" v-text="item.user_nickname">测试站啊哈哦啊发打发</span><span style="width:80px;">【教育理念】</span></p>
                            </div>
                            <p><button class="btn btn-default">查看更多</button></p>
                        </div>
                        <div class="tab-pane fade" id="bookRecommend">
                            <div v-for="item in recommendBook">
                                <a v-bind:href="'./post.html?id='+item.news_id"><img v-bind:src="item.news_cover" alt="封面"></a>
                                <p class="textOverNoHover" style="font-size: 15px;color:#F4AB42;text-align: center;" v-text="item.news_title">无书名</p>
                                <p><span style="width:77px;color:#999999;font-size: 11px;" class="textOverNoHover" v-text="item.user_nickname">测试站啊哈哦啊发打发</span><span style="width:80px;">【教育理念】</span></p>
                            </div>
                            <p><button class="btn btn-default">查看更多</button></p>
                        </div>
                        <div class="tab-pane fade" id="musicRecommend">
                            <div v-for="item in recommendMusic">
                                <a v-bind:href="'./post.html?id='+item.news_id"><img v-bind:src="item.news_cover" alt="封面"></a>
                                <p class="textOverNoHover" style="font-size: 15px;color:#F4AB42;text-align: center;" v-text="item.news_title">无书名</p>
                                <p><span style="width:77px;color:#999999;font-size: 11px;" class="textOverNoHover" v-text="item.user_nickname">测试站啊哈哦啊发打发</span><span style="width:80px;">【教育理念】</span></p>
                            </div>
                            <p><button class="btn btn-default">查看更多</button></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="videoResource">
                <p>视频资源</p>
                <div v-for="item in videoSources">
                    <p><span style="color:#f4ab42;">【视频】</span><span style="color:#f4ab42;">【{{item.cf_module}}】</span><a class="textOverNoHover" style="display: inline-block;width:180px;color:#333333;vertical-align: top;" v-bind:href="'./post.html?id='+item.news_id">{{item.news_title}}</a></p>
                </div>
                <p><button class="btn btn-default">查看更多</button></p>
            </div>
            <div id="bookResource">
                <p>图书资源</p>
                <div v-for="item in bookSources">
                    <p><span style="color:#8694a0;">【图书】</span><span style="color:#f4ab42;">【{{item.cf_module}}】</span><a class="textOverNoHover" style="display: inline-block;width:180px;color:#333333;vertical-align: top;" v-bind:href="'./post.html?id='+item.news_id">{{item.news_title}}</a></p>
                </div>
                <p><button class="btn btn-default">查看更多</button></p>
            </div>
            <div id="musicResource">
                <p>音频资源</p>
                <div v-for="item in musicSources">
                    <p><span style="color:#8f82bc;">【音频】</span><span style="color:#f4ab42;">【{{item.cf_module}}】</span><a class="textOverNoHover" style="display: inline-block;width:180px;color:#333333;vertical-align: top;" v-bind:href="'./post.html?id='+item.news_id">{{item.news_title}}</a></p>
                </div>
                <p><button class="btn btn-default">查看更多</button></p>
            </div>
        </div>
        <div id="rightPart">
            <div id="upPartRight">
                <form style="margin-left: 20px;padding-top:20px;">
                    <input style="width: 110px;height:28px;border:1px solid #979797;border-radius: 5px;" type="text" name="search" id="search"/>
                    <button v-on:click.prevent="gosearch()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;" >搜索</button>
                </form>
                <div style="border-bottom: 1px dashed #979797;margin-right: 30px;margin-left: 20px;margin-bottom: 9px;"><p style="border-left: 4px solid #957573 ;font-size: 20px;margin-top:20px;padding-left: 5px;">签到</p></div>
                <form style="border:none; border-radius: 5px;width:190px;height:127px;margin-left: 20px;">
                    <textarea name="checkInText" rows="6" placeholder="签到每日送3朵鲜花！" class="form-control"></textarea>
                </form>
                <button v-on:click.prevent="checkIn()" v-bind:disabled="checkStatus" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left:140px;margin-top:16px;"> 签到</button>
            </div>
            <div style="padding-left:20px;padding-right:20px;">
                <div style="border-bottom: 1px dashed #979797;">
                    <p style="border-left:4px solid #957573;margin-top: 20px; font-size:20px;padding-left: 5px;" >最新更新</p>
                </div>
                <div v-for="(item, index) in latestResource" style="padding-top: 20px;">
                    <p class="textOverNoHover"><a v-bind:href="'./post.html?id='+item.news_id"><span class="glyphicon glyphicon-triangle-right"></span><span v-text="index+1"></span>.<span class="textOver" style="vertical-align:top;display: inline-block;width:175px;">
                        <span v-if="item.news_contains==1" style="color:#f4ab42;margin-left: -8px;">【视频】</span>
                        <span v-else-if="item.news_contains==2" style="color:#8694a0;margin-left: -8px;">【图书】</span>
                        <span v-else-if="item.news_contains==3" style="color:#8f82bc;margin-left: -8px;">【音频】</span>
                        {{item.news_title}}
                    </span></a></p>
                    <p class="text1" style="margin-left: 15px;"><span>【{{item.cf_module}}】</span><span style="display:inline-block;width:112px;float: right;">{{item.news_createtime}}</span></p>
                </div>
                <div style="border-bottom: 1px dashed #979797;margin-top: 30px;">
                    <p style="border-left:4px solid #957573; font-size:20px;padding-left: 5px;" >下载排行</p>
                </div>
                <div v-for="(item, index) in mostDownload" style="padding-top: 20px;">
                    <p class="textOverNoHover"><a v-bind:href="'./post.html?id='+item.news_id"><span class="glyphicon glyphicon-triangle-right"></span><span v-text="index+1"></span>.<span class="textOverNoDisplay" style="vertical-align:top;display: inline-block;width:175px;">
                        <span v-if="item.news_contains==1" style="color:#f4ab42;margin-left: -8px;">【视频】</span>
                        <span v-else-if="item.news_contains==2" style="color:#8694a0;margin-left: -8px;">【图书】</span>
                        <span v-else-if="item.news_contains==3" style="color:#8f82bc;margin-left: -8px;">【音频】</span>
                        {{item.news_title}}
                    </span></a></p>
                    <div  style="margin-left: 15px;">
                        <p style="display:inline-block;" class="text1">【{{item.cf_module}}】</p>
                        <p class="text1" style="display:inline-block;text-align: right;float: right;"><img  src="./image/downloadIcon.png" width="16" height="15"  alt="">{{item.news_download}}</p>
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/jquery-3.1.1.js"></script>
<script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script type="text/javascript">
    $(function(){
        var login = false;      //login获取登录状态后标记的变量   需要后端改
        login = true;
        if(login){
            $("#login").css("display","block");
            $("#logout").css("display", "none");
        }
        var userInfo = {            //userInfo是存储用户信息的变量    需要后端改
            "user_id": "7",
            "user_accounts": "Bob",
            "user_nickname": "Jack",
            "user_email": "123@qq.com",
            "user_sex": "男",
            "user_tel": "15996362164",
            "user_age": "35",
            "user_photo": "image/1.jpg",
            "user_address": "江苏省南京市",
            "user_points": "0",
            "user_sign":"nihaoaho"
        };
       /* Vue.component("hotnews",{              //我的帖子组件
            template:"#hotNews",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    news:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                      //post地址，需要后端改
                var that = this;
                var postData = JSON.stringify(["2","1",userInfo.user_id,"1","2"]);  //评论最多
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsByOthers.php",
                    data: "check=10086&data="+postData,
                    success: function (data) {
                        that.news = JSON.parse(data);
//                        for(a in that.news){
//                            that.news[a].news_content = that.news[a].news_content.replace(/<.*?>/ig,"");
//                        }
                        console.log(that.news);
                    }
                });
                var postData1 = JSON.stringify(["2","1",userInfo.user_id,"2"]);   //评论最多
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsTotalPageByOthers.php",
                    data: "check=10086&data="+postData1,
                    success: function (data) {
//                        console.log(typeof data,"yefy");
                        that.allpage = data-0;
//                        console.log(that.allpage);
                    }
                });
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    var data = ["2","1",userInfo.user_id,index,"2"];          //评论最多
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                 //post地址 需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readNewsByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.news = JSON.parse(data);
                            for(a in that.news){
                                console.log(typeof that.news[a].news_content);
                                that.news[a].news_content = that.news[a].news_content.replace(/<.*?>/ig,"");
                            }
                        }
                    });
                }
            }
        });                                         //我的帖子组件

        Vue.component("latestnews",{           //我的收藏组件
            template:"#latestNews",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    collections:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                         //post地址    需要后端改
                var that = this;
                var data = ["2","1",userInfo.user_id,"1","3"];       //发帖最近
                data = JSON.stringify(data);
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readNewsByOthers.php",
                    data: "check=10086&data="+data,
                    success: function (data) {
                        that.collections = JSON.parse(data);
                        console.log(that.collections);
                    }
                });
                var pageData = ["2","1",userInfo.user_id,"3"];
                pageData = JSON.stringify(pageData);
                $.ajax({
                    type:"POST",
                    url:contextPath + "/myapp/news/readNewsByOthers.php",
                    data:"check=10086&data="+pageData,
                    success:function(data){
                        that.allpage=data-0;
                    }

                })
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index+'';
                    var data = ["2","1",userInfo.user_id,index,"3"];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                         //post地址   需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readNewsByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.collections = JSON.parse(data);
                        }
                    });
                }
            }
        });                    //我的收藏组件

        Vue.component("resource",{
            props:['userInfo'],
            template:"#resourcePart",
            data:function(){
                return{
                    current:1,
                    showItem:20,
                    allpage:1,
                    resources:[]
                }
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created:function(){
                var contextPath = 'http://localhost:3000';                                    // post地址   需要后端改
                var that = this;
                var data = ["3","1","2","1","3","4"];
                data = JSON.stringify(data);
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/readResourceByOthers.php",
                    data: "check=10086&data="+data,
                    success: function (data) {
                        that.resources = JSON.parse(data);
                        console.log(that.resources);
                    }
                });
                var pageData = ["3","1","2","4"];
                pageData = JSON.stringify(pageData);
                $.ajax({
                    type:"POST",
                    url:contextPath+"/myapp/news/readResourcePageByOthers.php",
                    data:"check=10086&data="+pageData,
                    success:function(data){
                        that.allpage = data-0;
                    }
                })
            },
            methods:{
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index+'';
                    var data = ["3","1","2",index,"3","4"];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';              // post地址   需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/readResourceByOthers.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.resources = JSON.parse(data);
                        }
                    });
                }
            }
        });*/
        var vm = new Vue({
            el: "#app",
            data: {
                checkStatus:false,     //签到状态
                userInfo:userInfo,
                videoSources:[],
                bookSources:[],
                musicSources:[],
                recommendVideo:[],
                recommendBook:[],
                recommendMusic:[],
                latestResource:[],
                mostDownload:[],
                photoResource:[],
                photo2Resource:[]
            },
            created: function (){
                var that = this;
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",             //abcdef用户电影资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","1"]),
                    success: function (data) {
                        console.log(data,"adfa");
                        if(data == "no content"){
                            return false;
                        }
                        that.videoSources = JSON.parse(data);
                        console.log(that.videoSources,"videoSources");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",             //abcdef推荐电影资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","1"])+"&grade=1",
                    success: function (data) {
//                        console.log(data);                                                       //目前没资源
                        if(data == "no content"){
                            return false;
                        }
                        that.recommendVideo = JSON.parse(data);
                        console.log(that.recommendVideo,"recommendVideo");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",            //abcdef用户图书资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","2"]),
                    success: function (data) {
                        if(data == "no content"){
                            return false;
                        }
                        that.bookSources = JSON.parse(data);
                        console.log(that.bookSources,"bookSources");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",                //abcdef推荐图书资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","2"])+"&grade=1",
                    success: function (data) {
                                                                             //目前没资源
                        if(data == "no content"){
                            return false;
                        }
                        that.recommendBook = JSON.parse(data);
                        console.log(that.recommendBook,"recommendBook");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",            //abcdef用户音频资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","3"]),
                    success: function (data) {
                        if(data == "no content"){
                            return false;
                        }
                        that.musicSources = JSON.parse(data);
                        console.log(that.musicSources,"musicSources");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",         //abcdef推荐音频资源
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","3"])+"&grade=1",
                    success: function (data) {
//                        console.log(data);                                                       //目前没资源
                        if(data == "no content"){
                            return false;
                        }
                        that.recommendMusic = JSON.parse(data);
                        console.log(that.recommendMusic,"recommendMusic");
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","3","4"]),   //最近更新
                    success: function (data) {
                        if(data == "no content"){
                            return false;
                        }
                        that.latestResource = JSON.parse(data);
                        if(that.latestResource.length>8){
                            that.latestResource.length = 8;
                            console.log(that.latestResource,"latestResource");
                        }
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/news/readResourceByOthers.php",
                    data: "check=10086&data="+JSON.stringify(["3","1","2","1","4","4"]),   //下载排行
                    success: function (data) {
                        if(data == "no content"){
                            return false;
                        }
                        that.mostDownload = JSON.parse(data);
                        if(that.mostDownload.length>8){
                            that.mostDownload.length = 8;
                            console.log(that.mostDownload,"mostDownload");
                        }
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "http://localhost:3000/myapp/conn/userCheckInState.php",
                    data: "check=10086&data="+JSON.stringify([that.userInfo.user_id]),
                    success: function (data) {
                        var status = data - 0;
                        if(status == 1){
                            that.checkStatus = true;
                        }
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "/myapp/news/getResourceWithCoverAndTitle.php",
                    data: "check=10086&data="+JSON.stringify([1,1]),
                    success: function (data) {
                        if(data!="-2"||data!="-3"){
                            that.photoResource=JSON.parse(data);
                            console.log(that.photoResource, "photoResource");
                        }
                    }
                });
                $.ajax({
                    type:"POST",
                    url: "/myapp/news/getResourceWithCoverByReadtimes.php",
                    data: "check=10086&data="+JSON.stringify([2]),
                    success: function (data) {
                        if(data!="-2"||data!="-3"){
                            that.photo2Resource=JSON.parse(data);
                            console.log(that.photo2Resource, "photo2Resource");
                        }
                    }
                });
            },
            methods:{
                gosearch: function () {
                    var keyword = $("#search").val().trim();
                    console.log("1");
                    if(keyword ==""){
                        alert("搜索内容为空！");
                    }
                    window.location.href = "http://localhost:3000/search.html?search="+keyword;
                },
                checkIn: function () {
                    var text = this.userInfo.user_nickname +  "签到成功！";
                    if($("textarea[name='checkInText']").val().trim()!=""){
                        text = $("textarea[name='checkInText']").val().trim();
                    }
                    console.log(text);
                    var that = this;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:3000/myapp/conn/userCheckIn.php",
                        data:"check=10086&data="+JSON.stringify([that.userInfo.user_id,text]),
                        success: function (data) {
                            console.log(data);
                            if(parseInt(data)> 0){
                                that.checkStatus = true;
//                                alert("签到成功，获得"+data+"鲜花！");
                                $('<div>').appendTo('body').addClass('alert alert-success').html("签到成功，获得"+data+"鲜花！").show().delay(1500).fadeOut();
                            }else if(parseInt(data)== -1){
                                that.checkStatus = true;
//                                alert("签到成功，鲜花已到上限！");
                                $('<div>').appendTo('body').addClass('alert alert-success').html("签到成功，鲜花已到上限！").show().delay(1500).fadeOut();
                            }else{
//                                alert("服务器繁忙，请稍后再试！");
                                $('<div>').appendTo('body').addClass('alert alert-success').html("服务器繁忙，请稍后再试！").show().delay(1500).fadeOut();
                            }
                        }
                    });
                }
            }
        });
    });
</script>
</body>
</html>