<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>私信</title>
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/yefy.css" rel="stylesheet">
    <style>
        #main>div{
            padding: 22px 28px;

        }
    </style>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="#" alt="一品书童有限责任公司">
            </div>
            <div class="nav narbar-nav">
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司介绍</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公司文化</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">公司介绍</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">人才招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="#">产品商城</a></li>
                    <li class="active"><a href="#">交流社区</a></li>
                    <li><a href="#">资源下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="logout">
                    <!--<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>-->
                    <li><a href="#">微信登陆</a></li>
                </ul>
                <ul class="nav navbar-var navbar-right" id="login">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img v-bind:src="userInfo.user_photo" style="width:30px;height:30px;border-radius: 15px;"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <p><a href="./talklist.html">私信列表</a></p>
        <div style="background-color: #ffffff;padding-bottom: 80px;">
            <p>发给<span style="color:blue;">{{talkToNickname}}</span>的对话</p>
            <form style="border-bottom: 1px solid #979797;padding-bottom: 50px;">
                <div class="form-group">
                    <textarea class="form-control" name="sendToOthers" rows="3"></textarea>
                    <button  class="btn btn-default" v-on:click.prevent="sendTo()" style="margin-top:18px;margin-bottom:19px;width: 80px;height: 30px;border-radius: 5px;background-color: #f4ab42;color:#ffffff;float:right;">发送</button>
                </div>
            </form>
            <div v-for="item in talkHistory" style="border-bottom: 1px solid #979797;">
                <div style="display: inline-block;width:80px;height:80px;vertical-align: top;margin: 23px 28px 32px 20px;">
                   <!--v-bind:src="item.user_photo"--> <img src="./image/1.jpg" alt="头像" style="width: 80px;height:80px;border: 1px solid #ffffff;border-radius: 40px;">
                </div>
                <div style="display: inline-block;width: 670px;vertical-align: top;margin-top: 23px;margin-bottom: 20px;">
                    <p>{{item.user_nickname}}:{{item.sys_content}}</p>
                    <p>{{item.sys_sendtime}}</p>
                </div>
            </div>
            <ul class="pagination" v-show="allpage>1">
                <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
                <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                    <a href="#" >{{index}}</a>
                </li>
                <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="./js/jquery-3.1.1.js"></script>
<script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script type="application/javascript">
    $(function(){
        var login = false;      //login获取登录状态后标记的变量   需要后端改
        login = true;
        if(login){
            $("#login").css("display","block");
            $("#logout").css("display", "none");
        }
        var userInfo = {            //userInfo是存储用户信息的变量    需要后端改
            "user_id": "8",
            "user_accounts": "Bob",
            "user_nickname": "Jack",
            "user_email": "123@qq.com",
            "user_sex": "男",
            "user_tel": "15996362164",
            "user_age": "35",
            "user_photo": "image/1.jpg",
            "user_address": "江苏省南京市",
            "user_points": "0",
            "user_sign":"nihaoaho"
        };
        var vm = new Vue({
            el: "#app",
            data: {
                login:login,     //判断登录 需要后端改
                userInfo:userInfo,
                current:1,
                showItem:20,
                allpage:1,
                talkHistory:[],
                talkToId:"",
                talkToNickname:""
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem) ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created: function () {
                var search = window.location.search;
                if(search != ""){
                    var arr = search.split("&");
                    this.talkToId = parseInt(arr[0].split("=")[1])+"";
                    this.talkToNickname = decodeURIComponent(arr[1].split("=")[1]);
                    if(this.talkToId != ""){
                        var that = this;
                        $.ajax({
                            type:"post",
                            url: 'http://localhost:3000/myapp/conn/getInfomationWithOthers.php',
                            data: "check=10086&data="+JSON.stringify([that.userInfo.user_id,that.talkToId,"1"]),
                            success: function (data) {
                                if(data == "no content"){
                                    return;
                                }else{
                                    that.talkHistory = JSON.parse(data);
                                    console.log(that.talkHistory);
                                }
                            }
                        });
                        $.post({
                            url:'http://localhost:3000/myapp/conn/getInfomationWithOthersPage.php',
                            data: "check=10086&data="+JSON.stringify([that.userInfo.user_id,that.talkToId]),
                            success:function(data){
                                that.allpage = data - 0;
                                console.log(data,"页数");
                            }
                        })
                    }
                }
            },
            methods:{
                /*search:function(){
                    this.keyword = $("input").val().trim();
                    if(this.keyword == ""){
                        alert("搜索内容不能为空！");
                        return;
                    }
                    var that  = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/searchNewsTitle.php',
                        data: "check=10086&data="+JSON.stringify([encodeURIComponent(that.keyword),"1"]),
                        success: function (data) {
                            that.searchResults = JSON.parse(data);
                            for(a in that.searchResults){
                                that.searchResults[a].news_content = that.searchResults[a].news_content.replace(/<.*?>/ig,"");
                            }
                            console.log(that.searchResults);
                        }
                    });
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/searchNewsTitlePage.php',
                        data: "check=10086&data="+JSON.stringify([encodeURIComponent(that.keyword)]),
                        success: function (data) {
                            that.allpage = data - 0;
                        }
                    })
                },*/
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index + "";
                    //这里可以发送ajax请求
                    var that = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/conn/getInfomationWithOthers.php',
                        data: "check=10086&data="+JSON.stringify([that.userInfo.user_id,that.talkToId,index]),
                        success: function (data) {
                            if(data == "no content"){
                                return;
                            }else{
                                that.talkHistory = JSON.parse(data);
                                console.log(that.talkHistory);
                            }
                        }
                    });
                },
                sendTo: function () {
                    if($("textarea").val().trim()==""){
                        alert("发送内容不能为空！");
                    }else{
                        var content = encodeURIComponent($("textarea").val().trim());
                        var that = this;
                        $.post({
                            url:'http://localhost:3000/myapp/conn/sendInfomationToOthers.php',
                            data:"check=10086&data="+JSON.stringify([that.userInfo.user_id, that.talkToId,content]),
                            success: function (data) {
                                if(data == "success"){
                                    $("textarea").val("");
//                                    window.location.reload();
                                    $.ajax({
                                        type: "POST",
                                        url: "http://localhost:3000/myapp/conn/getInfomationWithOthers.php",
                                        data: "check=10086&data="+JSON.stringify([that.userInfo.user_id,that.talkToId,"1"]),
                                        success: function (data) {
                                            console.log("shuaxing");
                                            that.talkHistory = JSON.parse(data);
                                        }
                                    });
                                    $.post({
                                        url:'http://localhost:3000/myapp/conn/getInfomationWithOthersPage.php',
                                        data: "check=10086&data="+JSON.stringify([that.userInfo.user_id,that.talkToId]),
                                        success:function(data){
                                            that.allpage = data - 0;
                                            console.log(data,"页数");
                                        }
                                    })
                                }
                            }
                        });
                    }
                }
            }
        });
        /* var contextPath = 'http://localhost:3000';
         $.ajax({
         type: "POST",
         url:  contextPath + "/myapp/conn/getUserCollectInfo.php",
         data: "check=10086&data=[\"7\"]",
         success: function(data){
         console.log(data,"hahah");
         }
         });*/
    });
</script>
</body>
</html>