<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帖子详情</title>
    <link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
   <!-- <style>
        body{
            background-color: #ededed;
        }
        .container{
            width: 1000px;
        }
        nav.navbar{
            font-size: 16px;
        }
        ul.nav>li{
            padding-left: 10px;
            padding-right: 10px;
        }
        ul.nav.navbar-right>li{
            padding-right: 5px;
            padding-left:5px;
        }
        #main{
            margin:10px auto;
            padding-top: 51px;
            width:1000px;
            /*background-color: #1b6d85;*/
        }
        #personInfo,#personFunc{
            background-color: #ffffff;
        }
        #personInfo>div,#personFunc>div{
            display: inline-block;
            vertical-align: top;
        }
        #personInfo>div{
            padding: 40px;
        }
        #personInfoLeft{
            text-align: center;
            width:250px;
        }
        #personInfoRight{
            position: relative;
        }
        #personFunc>div{
            margin-top: 10px;
        }
        .leftAd,.rightAd{
            display: inline-block;
            height:330px;
        }
        .leftAd{
            /* padding-top: 10px;
             padding-left: 10px;*/
            float: right;
        }
        .leftAd img{
            width:300px;
            height:150px;
            margin-bottom: 30px;
        }
        .carousel-inner{
            height:330px;
            width:680px;
        }
        #personInfoRight>div,#personInfoMiddle>div{
            width:274px;
        }
        #personInfoMiddle>div>p:first-child,#personInfoRight>div>p:first-child {
            font-weight:bold;
            width:100px;
        }
        #personInfoMiddle>div p, #personInfoRight>div p{
            display: inline-block;
        }
        #personInfoMiddle>div,#personInfoRight>div{
            padding-top: 15px;
        }
        #login{
            display: none;
        }
        #preview, .img, #preview img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
        #preview {
            border: 1px solid #3c763d;
            border-radius: 50px;
        }
        .pagination{
            float: right;
        }
        #file{
            display: none;
        }
        #filelLabel{
            display: inline-block;
            border:1px solid #3c763d;
            border-radius: 3px;
            cursor: pointer;
            padding:3px;
            margin-left: 15px;
            margin-top: 10px;
            width:68px;
        }
        label{
            width:100px;
        }
        #infoButtom{
            margin-left: 235px;
            margin-top: 30px;
        }
        #infoTop>div, #infoButtom>div{
            height:50px;
        }
        #infoButtom input, #infoTop input{
            border-radius: 5px;
            border: 1px solid #000000;
        }
    </style>-->
    <link href="./css/yefy.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="navbar-brand" src="#" alt="一品书童有限责任公司">
            </div>
            <div class="nav narbar-nav">
                <ul class="nav navbar-nav">
                    <li ><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">公司介绍</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">公司文化</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">公司介绍</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">人才招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="#">产品商城</a></li>
                    <li class="active"><a href="#">交流社区</a></li>
                    <li><a href="#">资源下载</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="logout">
                    <!--<li><a href="#">登录</a></li>
                    <li><a href="#">注册</a></li>-->
                    <li><a href="#">微信登陆</a></li>
                </ul>
                <ul class="nav navbar-var navbar-right" id="login">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img v-bind:src="userInfo.user_photo" style="width:30px;height:30px;border-radius: 15px;"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">私信</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="main">
        <div id="upPart" >
            <div id="upPartLeft" style="min-height:540px;height:auto;width:777px;padding-bottom: 20px;">
                <h3 class="textOver" v-html="newsInfo.news_title" style="border-bottom: 1px solid #000000;"></h3>
                <!--<div style="border: 1px solid #000000;"></div>-->
                <div><span v-html="newsInfo.news_createtime">2017-10-30 16:35</span>&nbsp;<span>喜欢</span><span v-html="newsInfo.news_liketimes"></span>&nbsp; <span>评论 5</span> <span style="float: right;">小组名称</span></div>
                <div id="contents">

                </div>
                <p style="color: #BBBBBB;">*文章为作者独立观点，不代表本网站立场</p>
                <div style="text-align: center">
                    <a href="#" rel="popover" id="likeIt" v-on:click.prevent="likeIt()" role="button" tabindex="0" data-container="body" data-toggle="popover" data-placement="top" data-content="每人只能点赞一次，再次点击取消点赞！" data-trigger="hover" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;"><span class="glyphicon glyphicon-thumbs-up"></span>{{newsInfo.news_liketimes}}</a>
                    <a href="#" rel="popover" id="collectIt" v-on:click.prevent="collectIt()" role="button" tabindex="0" data-container="body" data-toggle="popover" data-placement="top" data-content="每人只能点赞一次，再次点击取消点赞！" data-trigger="hover" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;">收藏</a>
                </div>
                <div id="qrcode"></div>
            </div>
            <div id="upPartRight">
                <form style="margin-left: 20px;margin-top:20px;">
                    <input style="width: 110px;height:28px;border:1px solid #979797;border-radius: 5px;" type="text" name="search" id="search"/>
                    <button v-on:click.prevent="gosearch()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left: 10px;" >搜索</button>
                </form>
                <p style="border-left: 4px solid #957573 ; border-bottom: 1px dashed #979797;font-size: 20px;margin-left: 20px;margin-top:20px;margin-right: 30px;padding-left: 3px;">小组活跃用户</p>
                <div style="border: 1px solid gray; border-radius: 5px;width:190px;height:127px;margin-left: 20px;">
                    <p>每日签到送3朵鲜花</p>
                </div>
                <button class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-left:140px;margin-top:10px;"> 签到</button>
            </div>
        </div>
        <div id="downPart" style="width:777px;background-color: #ffffff;">
            <div style="padding-bottom: 50px;">
                <h3>说点什么</h3>
                <form>
                    <div v-show="!login" style="width:717px;height:200px;padding:2px;border:1px solid #A9A9A9;display:table-cell;vertical-align: middle;text-align:center;font-size: 20px; ">请登录</div>
                    <textarea v-show="login" name="comments" id="comments" cols="100" rows="10"></textarea>
                    <button v-on:click.prevent="saySomething()" class="btn btn-default" style="width:70px;height:30px;border-radius: 5px;background-color:#F4AB42;color: #ffffff;margin-top:10px;">发表</button>
                </form>
                <h3>热门评论</h3>
                <div>
                    <div v-for="item in comments" style="border-bottom: 1px solid grey;margin-top:10px;">
                        <p style="float:right;"><span class="glyphicon glyphicon-thumbs-up"></span>{{item.infomation.com_like}}</p>
                        <p><img src="./image/1.jpg" style="width:50px;height:50px; border-radius: 25px;">&nbsp&nbsp<span>{{item.infomation.user_nickname}}</span></p>
                        <p>{{item.infomation.com_content}}</p>
                        <div style="background-color: #BBBBBB;">
                            <div v-for="answer in item.comcom">
                                <p><b>{{answer.user_nickname}}:</b>&nbsp;&nbsp;{{answer.comc_content}}</p>
                                <p style="text-align: right;"><span>{{answer.comc_createtime}}</span>&nbsp;&nbsp;<button v-on:click="showBoxWithName(answer.user_nickname,answer.user_id)">回复TA</button></p>
                            </div>
                        </div>
                        <p style="cursor:pointer;" v-on:click="showBox(item.infomation.com_user)"><span class="glyphicon glyphicon-edit"></span> 回复</p>
                        <form method="post" style="display: none;">
                            <textarea rows="2" cols="100" value="" answerWho="" name="comments"></textarea>
                            <button v-on:click.prevent="answerComment(item.infomation.com_id,item.infomation.com_user)"  class="btn btn-default" style="margin-bottom: 25px;">确定</button>
                        </form>
                    </div>
                    <ul class="pagination" v-show="allpage>1">
                        <li v-show="current != 1" @click="current-- && goto(current)" ><a href="#">上一页</a></li>
                        <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#" >{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script type="text/x-template" id="newsCommnets">
    <div>
        <div v-for="item in comments" style="border-bottom: 1px solid grey;margin-top:10px;">
            <p style="float:right;"><span class="glyphicon glyphicon-thumbs-up"></span>{{item.infomation.com_like}}</p>
            <p><img src="./image/1.jpg" style="width:50px;height:50px; border-radius: 25px;">&nbsp&nbsp<span>{{item.infomation.user_nickname}}</span></p>
            <p>{{item.infomation.com_content}}</p>
            <p style="cursor:pointer;" v-on:click="showBox($event)"><span class="glyphicon glyphicon-edit"></span> 回复</p>
            <form method="post" style="display: none;">
                <textarea rows="8" cols="60" name="comments"></textarea>
                <button class="btn btn-default" style="margin-bottom: 25px;">确定</button>
            </form>
        </div>
        <ul class="pagination" v-show="allpage>1"  >
            <li v-show="current != 1" @click="current&#45;&#45; && goto(current)" ><a href="#">上一页</a></li>
            <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#" >{{index}}</a>
            </li>
            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#" >下一页</a></li>
        </ul>
    </div>
</script>-->
<script src="./js/jquery-3.1.1.js"></script>
<script src="./bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./plugins/jquery-qrcode-master/jquery.qrcode.min.js" type="application/javascript"></script>
<script type="application/javascript">
    $(function(){
        var login = false;      //login获取登录状态后标记的变量   需要后端改
        login = true;
        if(login){
            $("#login").css("display","block");
            $("#logout").css("display", "none");
        }
        var userInfo = {            //userInfo是存储用户信息的变量    需要后端改
            user_id: "7",
            user_accounts: "Bob",
            user_nickname: "Jack",
            user_email: "123@qq.com",
            user_sex: "男",
            user_tel: "15996362164",
            user_age: "35",
            user_photo: "image/1.jpg",
            user_address: "江苏省南京市",
            user_points: "0",
            user_sign:"nihaoaho"
        };
        var newsInfo = {};

        var search = window.location.search;
        if(search != ""){
            var arr = search.split("=");
            var id = parseInt(arr[1]);
            if(id != ""){
                console.log(id);
                $.ajax({
                    type:"post",
                    async:false,
                    url: 'http://localhost:3000/myapp/news/readNewsById.php',
                    data: "check=10086&data="+JSON.stringify([id]),
                    success: function (data) {
                        console.log("read success!");
                        newsInfo = JSON.parse(data)[0];
                        console.log(newsInfo);
//                        newsInfo.news_content = newsInfo.news_content.replace(/<.*?>/ig,"");
                        document.getElementById("contents").innerHTML += newsInfo.news_content;
                    }
                });
            }
        }
        console.log(window.location.href);

        var vm = new Vue({
            el: "#app",
            data: {
                login:login,     //判断登录 需要后端改
                userInfo:userInfo,        //判断登录 需要后端改
                newsInfo:newsInfo,
                current:1,
                showItem:20,
                allpage:1,
                comments:[]
            },
            computed:{
                pages:function(){
                    var pag = [];
                    if( this.current < this.showItem ){ //如果当前的激活的项 小于要显示的条数
                        //总页数和要显示的条数那个大就显示多少条
                        var i = Math.min(this.showItem,this.allpage);
                        while(i){
                            pag.unshift(i--);
                        }
                    }else{ //当前页数大于显示页数了
                        var middle = this.current - Math.floor(this.showItem / 2 ),//从哪里开始
                                i = this.showItem;
                        if( middle >  (this.allpage - this.showItem)  ){
                            middle = (this.allpage - this.showItem) + 1
                        }
                        while(i--){
                            pag.push( middle++ );
                        }
                    }
                    return pag;
                }
            },
            created: function () {
                var contextPath = 'http://localhost:3000';
                var data = JSON.stringify([newsInfo.news_id, "1"]);
                var that = this;
                $.ajax({
                    type: "POST",
                    url: contextPath + "/myapp/news/newsCommentsRead.php",
                    data: "check=10086&data=" + data,
                    success: function (data) {
                        that.comments = JSON.parse(data);
                        console.log(that.comments, "hahha");
                    }
                });
                $.ajax({
                    type:"POST",
                    url:contextPath+"/myapp/news/newsCommentsReadPage.php",
                    data: "check=10086&data="+  JSON.stringify([newsInfo.news_id]),
                    success:function(data){
                        that.allpage = data-0;
                    }
                })
            },
            methods:{
                saySomething: function () {
                    var contents = $("#comments").val().trim();
                    if(contents==""){
                        alert("评论内容不能为空！");
                    }
                    var that = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/newsCommentSaved.php',
                        data: "check=10086&data="+JSON.stringify([that.newsInfo.news_id,that.userInfo.user_id,encodeURIComponent(contents)]),
                        success: function (data) {
                            if(data == "success"){
                                console.log("success");
//                                window.location.reload(true);
                                that.gotoWhatever(that.allpage);
                                $("#comments").val("");
                           /*     $("#comments").val("");
                                that.comments.unshift({
                                    infomation:{
                                        com_content: contents,
                                        com_like:"0",
                                        com_time:"刚刚",
                                        user_nickname:userInfo.user_nickname,
                                        user_photo:userInfo.user_photo
                                    }
                                });*/

                            }
                        }
                    });
                },
                goto:function(index){
                    if(index == this.current) return;
                    this.current = index;
                    index = index + "";
                    var data = [newsInfo.news_id,index];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                 //post地址 需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/newsCommentsRead.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.comments = JSON.parse(data);
                        }
                    });
                },
                gotoWhatever:function(index){
                    this.current = index;
                    index = index + "";
                    var data = [newsInfo.news_id,index];
                    data = JSON.stringify(data);
                    //这里可以发送ajax请求
                    var contextPath = 'http://localhost:3000';                 //post地址 需要后端改
                    var that = this;
                    $.ajax({
                        type: "POST",
                        url: contextPath + "/myapp/news/newsCommentsRead.php",
                        data: "check=10086&data="+data,
                        success: function (data) {
                            that.comments = JSON.parse(data);
                        }
                    });
                },
                showBox: function (answerWho){
                    console.log(event.target.nextSibling.nextSibling);
                    event.target.nextSibling.nextSibling.firstChild.value = "";
                    event.target.nextSibling.nextSibling.firstChild.answerWho = answerWho;
                    if(event.target.nextSibling.nextSibling.style.display == "block"){
                        event.target.nextSibling.nextSibling.style.display = "none";
                    }else{
                        event.target.nextSibling.nextSibling.style.display = "block";
                    }
                },
                answerComment: function (comId,comUser) {
                    console.log(event.target.previousSibling.previousSibling.value,event.target.previousSibling.previousSibling.answerWho,comId,comUser);
                    event.target.previousSibling.previousSibling.parentNode.style.display = "none";
                    console.log(event.target.previousSibling.previousSibling.parentNode.style.display);
                    var contents = encodeURIComponent(event.target.previousSibling.previousSibling.value);
                    var that = this;
                    $.ajax({
                        type:"post",
                        url: 'http://localhost:3000/myapp/news/createCommentsCom.php',
                        data: "check=10086&data="+JSON.stringify([contents,comId,that.userInfo.user_id,that.newsInfo.news_user,that.newsInfo.news_id,comUser,event.target.previousSibling.previousSibling.answerWho]),
                        success: function (data) {
                            console.log(data,"123");
                          if(data == "1"){
                              that.gotoWhatever(that.current);
                          }
                        }
                    });


                },
                gosearch: function () {
                    var keyword = $("#search").val().trim();
                    console.log("1");
                    if(keyword ==""){
                        alert("搜索内容为空！");
                    }
                    window.location.href = "http://localhost:3000/search.html?search="+keyword;
                },
                showBoxWithName:function(nickname,answerWho){
                    console.log(event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild);
                    event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild.value = "回复" + nickname +":";
                    event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.firstChild.answerWho = answerWho;
                    if(event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display == "block"){
                        event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display = "none";
                    }else{
                        event.target.parentNode.parentNode.parentNode.nextSibling.nextSibling.nextSibling.nextSibling.style.display = "block";
                    }
                },
                likeIt:function(){
                    var that = this;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:3000/myapp/news/changeFavorState.php",
                        data:"check=10086&data="+JSON.stringify([that.newsInfo.news_id,"0",that.userInfo.user_id]),
                        success:function(data){
                            if(data=="success"){
                                $.ajax({
                                    type:"post",
                                    url: 'http://localhost:3000/myapp/news/readNewsById.php',
                                    data: "check=10086&data="+JSON.stringify([that.newsInfo.news_id]),
                                    success: function (data) {
                                        that.newsInfo = JSON.parse(data)[0];
                                    }
                                });
                            }
                        }
                    })
                },
                collectIt:function(){
                    var that = this;
                    $.ajax({
                        type:"POST",
                        url:"http://localhost:3000/myapp/news/changeCollectState.php",
                        data:"check=10086&data="+JSON.stringify([that.newsInfo.news_id,that.userInfo.user_id]),
                        success:function(data){
                            if(data=="success"){
                              alert('collect success!');
                            }
                        }
                    })
                }
            }
        });
        $("#likeIt").popover();
        $("#qrcode").qrcode({
            text: "http://www.baidu.com", //设置二维码内容
            render : "canvas",//设置渲染方式
            width: 256,     //设置宽度,默认生成的二维码大小是 256×256
            height : 256,     //设置高度
            typeNumber : -1,      //计算模式
//            correctLevel : QRErrorCorrectLevel.H,//纠错等级
            background : "#ffffff",//背景颜色
            foreground : "#000000" //前景颜色
        });
    });

</script>
</body>
</html>